/* Common */
::-webkit-scrollbar { width: 0 !important }
::selection {
    background:#DF0029;
    color: #FFF;
    text-shadow: none;
}

::-moz-selection {
    background:#DF0029;
    color: #FFF;
    text-shadow: none;
}

-webkit-selection {
    background:#DF0029;
    color: #FFF;
    text-shadow: none;
}

.clearfix::after {
	content:'';
	display: block;
	clear: both;
}
.wrapper {
	max-width:;
    margin:0 auto;
    position: relative
}
.hide {
	display: none
}

html, body {
    margin: 0;
    font-size: 14px;
    color:#ccc; 
    font-family: 'Noto Sans KR', sans-serif;
    width:100%;
    height:100%;
}

.section{padding-left:10%; width:100%; overflow: hidden; position:relative; box-sizing: border-box;}
.con_wrap{width:80%; margin:0 auto; max-width:1280px;}




/*** header ***/

#header{height:100%; position: fixed; left:0; top:0; width:10%; border-right:1px solid #4e4e4e; z-index: 10; background: #fff; color:#4e4e4e; z-index: 9999;}
#header #myMenu{width:100%; padding:16px; box-sizing: border-box;}
#header #myMenu > li{padding:8px}
#header .logo{position: absolute; bottom:20px; left:10%;}
#header .logo{text-align: left;}
#header li.active a{color:#202121; border-bottom: 1px solid #4e4e4e;}


/*** footer ***/









