html, body{font-family: 'Noto Sans KR', sans-serif; width:100%; height:100%; overflow: hidden;}
#fp-nav ul li{display: none;}

/*header*/
#header{height:100%; position: absolute; left:0; top:0; width:10%; border-right:1px solid #4e4e4e; z-index: 10; background: #fff; color:#4e4e4e;}
#header #myMenu{width:100%; padding:16px; box-sizing: border-box;}
#header #myMenu > li{padding:8px}
#header .logo{position: absolute; bottom:20px; left:10%;}
#header .logo{text-align: left;}
#header li.active a{color:#202121; border-bottom: 1px solid #4e4e4e;}
.section{padding-left:10%; width:90%; height:100%; overflow: hidden; position:relative;}
#sec1{padding-left:10%;text-align: center;background-color:#fff; color:#202121; }
#sec1 .stit{text-align: center; font-size:96px; font-weight:600;}

.pos{position:absolute; bottom:0; left:10%; width:90%;}
.pos > div{width:15%; display: inline-block; }
.skill_1{height:240px; background:linear-gradient(to top,#fff, rgba(200,200,200,0.4)) 100%;}
.skill_2{height:240px; background:linear-gradient(to top,#fff, rgba(200,200,200,0.4));}
.skill_3{height:320px; background:linear-gradient(to top,#fff, rgba(200,200,200,0.4));}
.skill_4{height:280px; background:linear-gradient(to top,#fff, rgba(200,200,200,0.4));}
.skill_5{height:240px; background:linear-gradient(to top,#fff, rgba(200,200,200,0.4));}
.skill_6{height:120px; border-top:8px dotted #efefef;}

#sec1 .skill{position: absolute; bottom:0; left:10%; width:90%;font-size:0; border-top:1px solid #efefef; padding-top:20px; background:#fff; height:96px;}
#sec1 .skill li{display: inline-block; width:15%; font-size:16px;}

#sec1 .change_word{width:100%; text-align: center;}
#sec1 .change_word li{display:block; width:50%; font-size:100px; opacity: 0; position: absolute; left:25%; top:43%; transition:all 0.1s; font-weight: 600;}
#sec1 .change_word li:nth-child(1){color:#DC8665}
#sec1 .change_word li:nth-child(2){color:#138085}
#sec1 .change_word li:nth-child(3){color:#544667}
#sec1 .change_word li:nth-child(4){color:#CE7672}
#sec1 .change_word li:nth-child(5){color:#EEB462}
#sec1 .change_word li.on{opacity: 1;}

#sec2 .project_list{max-width: 1280px;
    width: 80%; margin:80px auto;}
#sec2 .project_list .context{width:100%; height:36%; background:#fff; position:absolute; z-index: 999; bottom:0; padding:24px; box-sizing: border-box; color:#202121;}
#sec2 .project_list .context p{font-size:24px; font-weight:700; margin-bottom:8px;}
#sec2 .project_list li{width:48%; max-width:400px; height:360px; border-radius:12px; overflow: hidden; position:relative; float:left; margin:12px 1%; cursor:pointer;}
#sec2 .project_list li:before{content:''; display: inline-block; width:100%; height:100%; background:rgba(0,0,0,0.4); position:absolute; left:0; top:0; z-index: 999;}
#sec2 .project_list li:nth-child(1){background:url(../images/pro_some4.jpg) no-repeat; background-size:100%;}
#sec2 .project_list li:nth-child(2){background:url(../images/pro_some5.jpg) no-repeat; background-size:100%;}
#sec2 .project_list li:nth-child(3){background:url(../images/pro_some1.jpg) no-repeat; background-size:100%;}
#sec2 .project_list li:nth-child(4){background:url(../images/pro_some2.jpg) no-repeat; background-size:100%;}
#sec2 .project_list li:nth-child(5){background:url(../images/pro_some3.jpg) no-repeat; background-size:100%;}
#sec2 .project_list li:nth-child(6){background:url(../images/pro_some6.jpg) no-repeat; background-size:100%;}

/*con setting*/
#content{margin-left:10%;width:90%; background-color:#fff;}
#content .con{padding:4% 5%; height:30vh; color:#4e4e4e;font-size: 16px; border-bottom: 1px solid #4e4e4e; box-sizing: border-box}
#content .con .tit{display: inline-block;font-size:50px; font-weight: 700; border-bottom:8px solid #fff;}
#content .con .desc{font-weight: 400;  padding-top:20px; text-align: justify;border-bottom: 1px solid transparent; line-height:1.5}
#content .con .desc:hover{border-bottom: 1px solid #DF0029; transition:all 0.3s}
#content .con .desc_list {padding-top:24px; display: flex; width:100%;}
#content .con .desc_list > li {flex:1}
#content .con .desc_list > li .stit{font-weight: 700; }
#content .con .desc_list > li .sdesc{padding:15px 0 10px; }
#content .con .desc_list > li .core{height:10px; background-color:#EC870C;}
#content .con .desc_list > li .point{height:10px; background-color:#DF0029;}
#content .con .desc_list > li .sub{height:10px; background-color:#b6b6b6;}
#content .con .desc_list > li .color{display: flex; width:90%;}
#content .con .desc_list > li .color > li {flex: 1;}

#content .img{width:100%; height:70vh}
#content .img.nong{background:url(../images/OT130Y1.png) 60% 0 no-repeat; background-size:80%;}
#content .img.quiz{background:url(../images/iPhone%206%20Designer%20Desk.png) no-repeat; background-size:100%;}
#content .img.us{background:url(../images/us.jpg) no-repeat; background-size:100%;}
#content .img.repure{background:url(../images/mockup.png) 0 no-repeat; background-size:100%;}
#content .img.keto{background:url(../images/macbook2.jpg) no-repeat; background-size:cover;}
#content .img.pet{background:url(../images/pet.png) no-repeat; background-size:80%;}



/*con1*/
#content .con1 .desc_list > li .core{height:10px; background-color:#c2252b;}
#content .con1 .desc_list > li .point{ height:10px; background-color:#637d36;}
#content .con1 .desc_list > li .sub{ height:10px; background-color:#f8e5c3;}

/*con2*/
#content .con2 .desc_list > li .core{height:10px; background-color:#D2876E;}
#content .con2 .desc_list > li .point{ height:10px; background-color:#E16810;}
#content .con2 .desc_list > li .sub{ height:10px; background-color:#757575;}

/*con3*/
#content .con3 .desc_list > li .core{height:10px; background-color:#313579;}
#content .con3 .desc_list > li .point{ height:10px; background-color:#CC112C;}
#content .con3 .desc_list > li .sub{ height:10px; background-color:#6AC3E7;}

/*con4*/
#content .con4 .desc_list > li .core{height:10px; background-color:#3a3d88;}
#content .con4 .desc_list > li .point{ height:10px; background-color:#ff6161;}
#content .con4 .desc_list > li .sub{ height:10px; background-color:#ffdb30;}

#sec2{height:100%;width:100%; background: #efefef;}
#sec3{height:100%;width:100%; background: #73AEB9;}
#sec3 .profile{position: absolute;top:30%; width:90%; text-align: center;}
#sec3 .profile img{width:13%; padding-bottom: 20px;}
#sec3 .profile .name{font-size:20px; padding-bottom: 5px; color:#fff;}
#sec3 .profile > .desc{padding:5px;}



/*미디어쿼리*/
@media (max-width:1024px) {
    body{overflow:auto}
    #header{width:100%; height:48px; border-bottom:1px solid #4e4e4e; border-right:none;}
    #header .logo{position: absolute;left: 5%; top: 12px; width:70%}
    #header #myMenu{padding:16px;}
    #header #myMenu > li{float:left; width:33%; padding:0; text-align: center;}
    .section{padding-left:0; width:100%}
    .skill{display:none;}
    #sec1{padding-left:0; background:#fff;}
    #sec2{background:#efefef;}
    #sec2 .project_list li {width:100%; margin:2% 0;}
    #sec3 .profile{width:100%; top:40%}
    #content{margin:0; width:100%;}
    #content .con{padding:80px 0 0 0; border:none; height:auto; width:90%; margin:0 auto;}
    #content .con .tit{font-size:40px;}
    #content .con .desc_list > li{width:100%; padding:20px 0;}
    #content .con .desc_list {display: block;}
    #content .con .desc_list > li {margin:24px 0;}

    #content .img.nong{background-size:cover;}
    #content .img.quiz{background:url(../images/iPhone%206%20Designer%20Desk.png) center no-repeat; background-size:cover;}
    #content .img.us{background:url(../images/us.jpg) center no-repeat; background-size:cover;}
    #content .img.repure{background:url(../images/mockup.png) center center no-repeat; background-size:cover;}
    #content .img.keto{background:url(../images/macbook2.jpg) 73% no-repeat; background-size:cover;}
    #content .img.pet{background:url(../images/pet.png) center no-repeat; background-size:cover;}

    #content .con .desc_list > li .stit{border-bottom:1px solid #999; padding-bottom:10px;}
    #content .img img{    width: 150%;}

}
